{
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "script",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": ["prettier"],
  "rules": {
    "no-console": 1,
    "no-unused-vars": [2, { "ignoreRestSiblings": true }]
  }
}
